BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ain[0]" SITE "3" ;
LOCATE COMP "Ain[1]" SITE "2" ;
LOCATE COMP "Ain[2]" SITE "7" ;
LOCATE COMP "Ain[3]" SITE "4" ;
LOCATE COMP "Ain[4]" SITE "78" ;
LOCATE COMP "Ain[5]" SITE "84" ;
LOCATE COMP "Ain[6]" SITE "86" ;
LOCATE COMP "Ain[7]" SITE "8" ;
LOCATE COMP "C14M" SITE "62" ;
LOCATE COMP "Din[0]" SITE "96" ;
LOCATE COMP "Din[1]" SITE "97" ;
LOCATE COMP "Din[2]" SITE "98" ;
LOCATE COMP "Din[5]" SITE "99" ;
LOCATE COMP "Din[4]" SITE "1" ;
LOCATE COMP "Din[6]" SITE "88" ;
LOCATE COMP "Din[7]" SITE "87" ;
LOCATE COMP "PHI1" SITE "85" ;
LOCATE COMP "nC07X" SITE "34" ;
LOCATE COMP "nEN80" SITE "82" ;
LOCATE COMP "nWE" SITE "29" ;
LOCATE COMP "nWE80" SITE "83" ;
LOCATE COMP "BA[0]" SITE "58" ;
LOCATE COMP "BA[1]" SITE "60" ;
LOCATE COMP "CKEout" SITE "53" ;
LOCATE COMP "DQMH" SITE "49" ;
LOCATE COMP "DQML" SITE "48" ;
LOCATE COMP "Dout[0]" SITE "30" ;
LOCATE COMP "Dout[1]" SITE "27" ;
LOCATE COMP "Dout[2]" SITE "25" ;
LOCATE COMP "Dout[3]" SITE "28" ;
LOCATE COMP "Dout[4]" SITE "24" ;
LOCATE COMP "Dout[5]" SITE "21" ;
LOCATE COMP "Dout[6]" SITE "31" ;
LOCATE COMP "Dout[7]" SITE "32" ;
LOCATE COMP "LED" SITE "35" ;
LOCATE COMP "RAout[0]" SITE "66" ;
LOCATE COMP "RAout[1]" SITE "68" ;
LOCATE COMP "RAout[2]" SITE "70" ;
LOCATE COMP "RAout[3]" SITE "74" ;
LOCATE COMP "RAout[4]" SITE "75" ;
LOCATE COMP "RAout[5]" SITE "71" ;
LOCATE COMP "RAout[7]" SITE "67" ;
LOCATE COMP "RAout[6]" SITE "69" ;
LOCATE COMP "RAout[8]" SITE "65" ;
LOCATE COMP "RAout[9]" SITE "63" ;
LOCATE COMP "RAout[10]" SITE "64" ;
LOCATE COMP "RAout[11]" SITE "59" ;
LOCATE COMP "Vout[0]" SITE "18" ;
LOCATE COMP "Vout[1]" SITE "15" ;
LOCATE COMP "Vout[2]" SITE "17" ;
LOCATE COMP "Vout[3]" SITE "13" ;
LOCATE COMP "Vout[4]" SITE "19" ;
LOCATE COMP "Vout[5]" SITE "16" ;
LOCATE COMP "Vout[6]" SITE "14" ;
LOCATE COMP "Vout[7]" SITE "12" ;
LOCATE COMP "nCASout" SITE "52" ;
LOCATE COMP "nCSout" SITE "57" ;
LOCATE COMP "nDOE" SITE "20" ;
LOCATE COMP "nRASout" SITE "54" ;
LOCATE COMP "nRWEout" SITE "51" ;
LOCATE COMP "nVOE" SITE "10" ;
LOCATE COMP "RD[0]" SITE "36" ;
LOCATE COMP "RD[1]" SITE "37" ;
LOCATE COMP "RD[2]" SITE "38" ;
LOCATE COMP "RD[3]" SITE "39" ;
LOCATE COMP "RD[4]" SITE "40" ;
LOCATE COMP "RD[5]" SITE "41" ;
LOCATE COMP "RD[6]" SITE "42" ;
LOCATE COMP "RD[7]" SITE "43" ;
IOBUF PORT "Ain[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ain[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "C14M" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PHI1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nC07X" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nEN80" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nWE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nWE80" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "BA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CKEout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "DQMH" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "DQML" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Dout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "Dout[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAout[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "Vout[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nCASout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nCSout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nDOE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRASout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRWEout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nVOE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RD[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
IOBUF PORT "RD[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 CLAMP=ON ;
OUTPUT PORT "LED" LOAD 100.000000 pF ;
OUTPUT PORT "BA[1]" LOAD 5.000000 pF ;
OUTPUT PORT "BA[0]" LOAD 5.000000 pF ;
OUTPUT PORT "CKEout" LOAD 5.000000 pF ;
OUTPUT PORT "DQMH" LOAD 5.000000 pF ;
OUTPUT PORT "DQML" LOAD 5.000000 pF ;
OUTPUT PORT "Dout[0]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[1]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[2]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[3]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[4]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[5]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[6]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[7]" LOAD 15.000000 pF ;
OUTPUT PORT "RAout[0]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[1]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[2]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[3]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[4]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[5]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[6]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[7]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[8]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[9]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[10]" LOAD 5.000000 pF ;
OUTPUT PORT "RAout[11]" LOAD 5.000000 pF ;
OUTPUT PORT "Vout[0]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[1]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[2]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[3]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[4]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[5]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[6]" LOAD 15.000000 pF ;
OUTPUT PORT "Vout[7]" LOAD 15.000000 pF ;
OUTPUT PORT "nCASout" LOAD 5.000000 pF ;
OUTPUT PORT "nCSout" LOAD 5.000000 pF ;
OUTPUT PORT "nDOE" LOAD 10.000000 pF ;
OUTPUT PORT "nRASout" LOAD 5.000000 pF ;
OUTPUT PORT "nRWEout" LOAD 5.000000 pF ;
OUTPUT PORT "nVOE" LOAD 10.000000 pF ;
OUTPUT PORT "RD[0]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[1]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[2]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[3]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[4]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[5]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[6]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[7]" LOAD 9.000000 pF ;
LOCATE COMP "Din[3]" SITE "9" ;
